-# index page toolbar for a new model
.btn-group
  -# save
  %button.btn.btn-primary{title: 'Save', type: 'submit'}
    %span.glyphicon.glyphicon-floppy-disk

  -# clear
  %a.clear-input.btn.btn-danger{title: 'Clear fields'}
    %span.glyphicon.glyphicon-remove