-#params: version_id
.btn-group
  = link_to revert_version_path(version_id), method: :post, remote: true, class: 'btn btn-danger', title: 'Undo Delete', data: {type: 'html'} do
    %span.glyphicon.glyphicon-ban-circle
